h2{
    line-height: 1.7;
    font-size: 1.5rem;
    text-align: center;
    color: #424242;
}

p{
    line-height: 1.8;
    color: #424242;
}

.founder{
    width: 60%!important;
    border-radius:100%
}